# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment
.env
*.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Node (for Capacitor later)
node_modules/